.card{
    color:#fff;
    font-weight: lighter;
}

.fondo{
    background-color:#202020;
}
.color-verde{
    background-color: green;
}
.color-rojo{
    background-color: red;
}

.columna{
    display:flex;
    flex-direction: column;
    background-color: rgb(106, 106, 254);
    width:240px;
}
 .margin{
    margin: 10px;
    width:200px;
 }

 .fondo2{
    background-color: greenyellow;
    color: #fff
 }

 .borderHover:hover{
    outline: solid 2px rgb(2, 33, 91);
    background-color:rgb(124, 164, 221) ;
    color: black;
 }
 .borderHover{
    margin:10px;
    font-weight: bolder;
 }