.card{
    color:#fff;
    font-weight: lighter;
}

.fondo{
    background-color:#202020;
}
.color-verde{
    background-color: green;
}
.color-rojo{
    background-color: red;
}

.columna{
    display:flex;
    flex-direction: column;
    background-color: rgb(106, 106, 254);
    width:240px;
}
 .margin{
    margin: 10px;
    width:200px;
 }

 .fondo2{
    background-color: greenyellow;
    color: #fff
 }

 .borderHover:hover {
    outline: none;
    background-color: rgb(58, 58, 58);
    color: black;
    border-radius: 9px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6); /* Sombra */
}

.borderHover{
   border-radius: 9px;
    margin:10px;
    font-weight: bolder;
 }
 .espaciosdiv{
    margin:30px;
 }

 .custom-swal-container .swal2-popup {
    overflow-x: hidden !important;
}

.fondoindex{
    background-color: #000000;
    color:white;
    margin-bottom:0px;
}

.espaciosdiv2{
    margin-top: 100px;
}

.blanco{
    color: white;
}
.blanco{
    color:white;
    text-decoration:none;
}


